<div class="about-container">
  <div>
    <p class="about-head">Hello, my name is</p>
    <span class="about-name">Santosh Pisini.</span>
    <p class="about-sub">Full-Stack Software Engineer.</p>
  </div>
  <div>
    <p class="about-info">As an experienced software engineer, I love to design and build software that solves problems.
    </p>
    <p class="about-info">Currently I work with
      <app-link url="https://www.microsoft.com/" label="Microsoft" eventType="company"></app-link> via
      <app-link url="https://in.linkedin.com/company/ushta-te-hr-consultancy-services"
        label="Ushta Te Consultancy Services LLP" eventType="company"></app-link>
      as an Applications Developer II.
    </p>
  </div>
</div>