 .about-container {
   font-size: 1.3em;
 }

 .about-head {
   color: var(--grey);
 }

 .about-name {
   font-size: 1.8em;
   font-weight: bolder;
   border-bottom: 1px solid var(--orange);
 }

 .about-sub {
   color: var(--light-grey);
 }

 .about-info {
   color: var(--grey);
 }

 .about-footer {
   position: absolute;
   bottom: 128px
 }