<div class="about-container">
  <div>
    <p class="about-head">Hello, my name is</p>
    <span class="about-name">Santosh Pisini.</span>
    <p class="about-sub">Full-Stack Software Engineer.</p>
  </div>
  <div>
    <p class="about-info">As an experienced software engineer, I love to design and build software that solves problems.
    </p>
    <p class="about-info">Currently I work with <a href="https://www.microsoft.com/" target="_blank"
        (click)="openCompany()">Microsoft<span class="material-icons"> open_in_new </span></a> as an Applications
      Developer 2.</p>
  </div>
</div>