<div class="about-container">
  <div>
    <p class="about-head">Hello, my name is</p>
    <span class="about-name">Santosh Pisini.</span>
    <p class="about-sub">Full-Stack Software Engineer.</p>
  </div>
  <div>
    <p class="about-info">
      I love to design and build top-notch software products. Currently I work
      as a Software Engineer at
      <a href="https://www.epam.com/" target="_blank"
        >EPAM Systems.<span class="material-icons"> open_in_new </span></a>
    </p>
  </div>
  <div class="about-footer">
      <a href="mailto:santosh_pisini@outlook.com" target="_blank">santosh_pisini@outlook.com</a>
      <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon> -->
  </div>
</div>
