<div class="main">
  <app-header></app-header>
  <div class="container">
    <app-about #about></app-about>
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    <div class="main-email">
      <app-link url="mailto:santosh_pisini@outlook.com" label="santosh_pisini@outlook.com" eventType="email"></app-link>
    </div>
    <div class="main-social">
      <div *ngFor="let item of socialLinks">
        <span class="social-link" (click)="openLink(item)" tabindex="0"><fa-icon
            [icon]="['fab', item.faIcon]"></fa-icon></span>
      </div>
    </div>
  </div>
</div>