.container {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 80vh;
  padding: 0px;
}

.main {
  padding: 0px 16px;
  height: 100vh;
  margin-top: 24px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.social-link {
  &:hover {
    color: var(--orange);
  }
}

fa-icon {
  font-size: 24px;
}

.main-social {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  gap: 24px;
}

@media only screen and (min-width: 600px) {
  .main {
    padding: 0px 192px;
  }

  .main-email {
    width: min-content;
    // transform: rotate(270deg);
    margin-left: -52px;
    letter-spacing: 0.1em;

    span {
      content: "";
      display: block;
      width: 1px;
      height: 90px;
      margin: 0px auto;
      transform: rotate(270deg);
      background-color: var(--orange);
    }
  }

  .footer {
    flex-direction: row;
  }


  .main-social {
    margin-top: 0px;
  }

}

.main-email-card {
  display: flex;
  font-size: 14px;

  a {
    text-underline-offset: 4px;
  }

  hr {
    transform: rotate(270deg);
    border-color: var(--orange);
  }

}