<div class="main">
  <app-header></app-header>
  <div class="container">
    <app-about #about></app-about>
  </div>
  <div class="footer">
    <div class="main-email">
      <div class="main-email-card">
        <a href="mailto:santosh_pisini@outlook.com" target="_blank">santosh_pisini@outlook.com</a>
      </div>
    </div>
    <div class="main-social">
      <div *ngFor="let item of socialLinks">
        <span class="social-link" (click)="openLink(item)"><fa-icon [icon]="['fab', item.faIcon]"></fa-icon></span>
      </div>
    </div>
  </div>
</div>